@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Zilla Slab', sans-serif;
}
/*BODY*/
body{
  height: 100vh;
  background-color: white;
  background-position: center;
}
/*Gambar Halaman Main*/
.main img{
  padding-top: 3%;
  padding-right: 3%;
  object-fit: cover;
  width: 95%;
  float: left
}

/*Countainer*/
.container{
  width: 70%;
  margin: 0 auto;
  overflow: auto;
}



/*Atur Gambar*/
.gmbr{
  width: 80%;
  height:auto;
  display: block; 
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

/*atur gambar*/
.img_promo{
  width: 70%;
  float: left;
  padding: 3%;
}


.promo_content p{
  font-size: 1.25vw;
}

.promo_content h1{
  font-size: 2.5vw;
  font-weight: 600;
}
.promo_content h2{
  font-weight: 500;
  font-size: 2vw;
}

.promo_content p{
  font-size: 1.3vw ;
  padding-top: 2%;
  padding-bottom: 3%;
}

/*atur  map*/
.map{
  width: 400px;
  height: 350px;
  padding-right: 45px;
  padding-top: 80px;
  padding-bottom: 40px;
  float: left;
}
/*atur gambar*/
.gmbr2{
  width: 80%;
  height:35%;
  display: block; 
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}


/*atur gambar logo grab dan gojek*/
.container img.grab{
  width: 7%;
  padding-right: 2%;
  padding-top: 4%;
}

.comtainer img{
  width: 100%;
}
/*atur gambar di about us*/
.about_us{
  float: left;
  padding-right: 7%;
  margin-top: 6%;
  margin-bottom: 8%;
}
/*atur header di container*/
.container h1{
  font-size: 2.5vw;
  font-weight: 600;

}
.container h2{
  padding-top: 5%;
  font-weight: 500;
  font-size: 2vw;
}

.container h4{
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 2.5vw;
}
/*atur paragraf di container*/
.container p{
  font-size: 1.3vw ;
  padding-top: 2%;
}

.container br{
  font-size: 1.3vw;
}

/*atur gambar rata kiri di container*/

.container iframe{
  width: 30vw;
  height: 35vw;
}

@media(max-width: 600px){
  .container iframe{
    width: 85%;
    height: 50%;
  }
}

.tabel_container{
  width: 70%;
  margin: 0 auto;
  overflow: auto;
}

.tabel_container td{
  vertical-align: top;
}

.about{
  width: 70%;
  margin: 0 auto;
  overflow: auto;
}

.about h1{
  font-size: 2.5vw;
  font-weight: 800;
}
.about img{
  float:left;
  width:40%;
}

@media (max-width: 600px) {
  .about img{
    float:left;
    max-width: 120%;
  }
}

.about p{
  font-size: 1.3vw ;
  padding: 2%;
}

.about span img{
  width: 100%;
}


/*untuk menengahkan objek/gbr*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/*mengatur gambar banner di about us*/
.about span img{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

.main_row{
  display: flex;
  flex-wrap: wrap;
}

.main_table{
  width: 100%;
}

.main_table th{
  width: 70%;
  vertical-align: top;
}

.main_table td{
  width: 30%;
  vertical-align: top;
}

.main_table button{
  font-size: 1.3vw;
  padding: 5px 10px;
  margin-top: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.konten_menu{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  text-align: center;
}

.konten_menu h2{
  padding-top: 5%;
  padding-bottom: 0;
}
/* FLEX STARTED*/
.row {
  display: flex;
  flex-wrap: wrap;

}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;

}

.column img {
  margin-top: 10%;
  width: 90%; 
  
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*mengatur logo di navbar*/
.header {
  margin: 0;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  }

/*mengatur navigasi*/
.navbar{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: black;
}

/*mengatur navigasi*/
.navbar li {
    display: inline;
}

/*mengatur navigasi*/
.navbar  a{
  display: inline-block;
  padding: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/*mengatur form subscribe*/
.subscribe{
  margin: 30px auto;
  padding: 20px 25px;
  width: 20%;
  background-color: #e8e8e8;
}

.subscribe input[type=text], select {
  width: calc(100%);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.subscribe label {
  font-size: 12px;
  text-align: left;

}
.subscribe h3 {
  text-align: center;
  color: black;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
}

.subscribe input[type=submit] {
width: calc(100%);
background-color:white;
color: black;
padding: 10px 14px;
margin-top: 8px;
margin-bottom: 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 14px;
font-weight: 500;
border: 1px solid #ccc;
}

.subscribe input[type=submit]:hover {
background-color: white;
}

/*mengatur footer*/
.footer {
  background: black;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top: 50px;
}

.footer ul{
  margin:0;padding:0;
}

.footer span{
  font-weight: 500;
}

.footer ul,li {
  padding-left: 3vw;
  padding-right: 4vw;
  color: white;
}

.footer ul,li,span {
  display:block;
  margin-bottom: 4vh;
  margin-top: 3vh;
  color: white;
  font-size: 1.5vw;
}

.footer ul{
  display:grid;
  list-style-type:none;
  margin:0;padding:0px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
}

.footer img{
  width: 3vw;
  height: 3vw;
  padding: 0.5vw;
}

.footer a{
  text-align: left;
  color:white;
  text-decoration: none;
}

.footer table{
  display: flex;
  border: none;
  margin-right: 70px;
  justify-content: center;
  align-items: center;
}

.footer button{
  color:black;
  background-color: white;
  padding:7px 15px;
  border: none;
  font-weight: 500;
  font-size: 1.5vw;
  cursor: pointer;
  margin-top: 20px;
}

.footer td{
  vertical-align: center;
}

